extends shared/layout



block content
  .jumbotron.jumbotron-fluid
    .container-fluid
      h1 Colenso Database
  h3 Welcome to the Colenso Database
  p The colenso database features a collection of historical documents.
  p Using our search engine you can obtain access to these documents, simple navigate to the search page and use euther simple search queries or our more powerful XQuery engine
  p Or you can explore our complete database in the explore tab
  
