body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

note {
    visibility: hidden;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  padding: 3px
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-block{
  padding: 3px
}


.noPad{
  padding:0 9px 0 9px !important;
  margin: 0 !important;
}


.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}
